p {
	font-size: 100%;
	/*background-color: pink;*/
}

div {
	font-size: 100%
	box-sizing: border-box;
}


#ruleText {
	width: 50%;
	float: left;
	display: inline;
	/*background-color: blue;*/
}

#explanation {
	float: left;
	width: 50%;

}

.clickable {
	color: blue;
}