p {
	font-size: 100%;
	/*background-color: pink;*/
}

div {
	font-size: 100%
	display: inline;
}


#ruleText {
	width: 60%
	float: left;
	display: inline;
	/*background-color: blue;*/
}

#explanation {
	/*float: right;*/
	display: inline;
}

.clickable {
	color: blue;
}